@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

.conteiner{
    position: relative;
    width: 100%;
    margin: 0% auto;
    height: 150px;
    background: linear-gradient(#818274, #506266);
}
.logo{
    width: 100px;
    height: 100px;
    padding-top: 20px;
    padding-left: 20px;
}
.conteiner-img{
    position: relative;
    height: 30px;
}
.icones{
    width: 30px;
    height: 25px;
    position: relative;
    left: 70%;
    top: -23px;
}
.icones:hover{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 3px;
    transition: 0.5s;
    border-radius: 10px;
}
.menu{
    position: relative;
    width: 70%;
    left: 25%;
    top:  -45%;
    margin: auto;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 20px;
}
ul a{
    text-decoration: none;
    color: black;
}
ul a:hover{
    text-decoration: underline rgb(201, 145, 6);
}
.conteiner-conteudo{
    width: 100%;
    height: 462px;
    position: relative;
    background:linear-gradient(#818274, #506266);
}
.conteudo-prin{
    position: absolute;
    top: 35%;
    left: 10%;
    font-family: 'Allura', cursive;
    font-size: 35px;
    text-align: center;
    max-width: 85%;
}
#botaoduvida{
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    display: block;
    left: -250px;
}
.quemsou{
    width: 100%;
    height: 300px;
}
.sobre{
    width: 300px;
    float: left;
    position: relative;
    top: 50%;
    left: 50px;
}
.sobre h1{
    font-size: 40px;
    font-family: 'Dosis', sans-serif;
}
.sobre p{
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    margin: 5px;
    margin-top: 7px;
}
.retfabiana{
    width: 300px;
    height: 500px;
    position: relative;
    left: 50%;
    top: 50px;
}
/*CSS FORMULÁRIO*/
.conteiner-form{
    width: 100%;
    height: 80vh;
    background-color: #61727C;
    background-size: cover;
}
.formulario{
    margin-top: 5%;
    width: 70%;
    float: right;
    position: relative;
    
}
.formulario input, textarea{
    width: 50%;
    box-sizing: border-box;
    text-align: left;
    padding: 8px;
    display: block;
    margin: auto;
}   
.formulario h1{
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    
}
.formulario input, text, textarea{
    font-family:'Dosis', sans-serif; 
    font-size:15px;
}
/* CSS conteudo SOBRE NÓS */
.conteiner-img{
    width: 100%;
    height: 500px;
    position: relative;
}
.martelo{
    width: 100%;
    height: 80%;
}
.conteudo-sobre p{
    font-size: 20px;
    width: 50%;
    padding: 10px;
    margin: 10px;
    position: relative;
    top: -100px;
    font-family: 'Dosis', sans-serif;

}
.listasobre{
    position: relative;
    padding-left: 70px;
    top: -90px;
    display: flex;
    flex-direction: column-reverse;
}
.listasobre li{
    list-style: square;
    font-family: 'Dosis', sans-serif;
}
/*CSS CONTATO*/
.conteiner-falec{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 40%;
}
.faleconosco{
    display: block;
}
.faleconosco h1{
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    text-align: left;
    padding-left: 3%;
    padding-top: 10%;
    text-indent: 25px;
}
.faleconosco p{
    text-indent: 25px;
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    text-align: left;
    padding-left: 3%;
    margin-top: 20px;
}
#linkwpp-fale{
    float: left;
    padding-left: 8%;
}

/*CSS BLOG*/
.contPrincBlog{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr ;
    justify-items: left;
    align-items: center;
    background-color: #818274;
}
.contBlog{
    display: flex;
    width: 90%;
    height: 250px;
    border: 6px solid black;
    margin-top: 30px;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 35px;
    font-family: 'Dosis', sans-serif;
    
}
.linkBlog{
    text-decoration: none;
    color: black;
}
.paginas{
   position: relative;
   top: 0%;
   left: calc(100% - 50px)
}
.pagina{
   color: rgb(168, 124, 11);
}
#martelo{
    display: none;
    width: 600px;
    height: 250px;
    opacity: 0.5;
    position: absolute;
}
#familia{
    display: none;
    width: 600px;
    height: 250px;
    opacity: 0.5;
    position: absolute;
}
#casa{
    display: none;
    width: 600px;
    height: 250px;
    opacity: 0.5;
    position: absolute;
}
#noivos{
    display: none;
    width: 600px;
    height: 250px;
    opacity: 0.5;
    position: absolute; 
}
@media  screen and (max-width: 900px) and (max-height: 900px){
    .conteiner{
        position: relative;
        width: 100%;
        margin: 0% auto;
        height: 150px;
        background: linear-gradient(#818274, #506266);
    }
    .logo{
        width: 70px;
        height: 70px;
    }
    .menu{
        position: relative;
        width: 50%;
        left: -5%;
        top: -30%;
    }
    .icones{
        position: relative;
        left: 100%;
    }
    ul{
        gap: 10px;
    }
    .conteudo-prin{
        font-size: 20px;
        left: 0%;
    }
    .sobre{
        top: 0%;
        left: 0%;
    }
    .retfabiana{
        width: 150px;
        height: 300px;
        left: 5%;

    }
}